<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    {% if username %}
        <p>Hello {{username}}</p>
        <a href="/logout">Logout</a>
    {% else %}
        <h4><p>you are not logged in .Please <a href="/login">LOGIN</a> to access homepage</p></h4>
        <br />
        <h4><p>If you didn't have account yet <a href="/register">register here</a></p></h4>
    {% endif %}
</body>
</html>